<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>To-Do lists</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/static/mdb/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/static/mdb/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/static/mdb/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/static/mdb/css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="header flex-center flex-column">
            <div class="to-do-list-card card">
                <h1 class="card-header info-color white-text text-center py-4">
                    <strong>{% block header_text %}{% endblock %}</strong>
                </h1>
                <div class="card-body px-lg-5 animated fadeIn">
                    <form method="POST" class="text-center" action="{% block form_action %}{% endblock %}">
                        {% csrf_token %}
                        <div class="md-form mt-3">
                            <input type="text" name="item_text" id="id_new_item" placeholder="Enter a to-do item">
                        </div>
                        <button class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">Add Item</button>
                    </form>

                    {% block content_table %}
                    {% endblock %}
                </div>
            </div>
        </div> <!-- /header -->

        <div class="content flex-center flex-column">
        </div> <!-- /content -->
    </div> <!-- /container -->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/static/mdb/js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/static/mdb/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/static/mdb/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/static/mdb/js/mdb.min.js"></script>
</body>
</html>
