{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}/lists/{{ list.id }}/add_item{% endblock %}

{% block content_table %}

    <hr>
    <ul id="id_list_table">
        {% for item in list.item_set.all %}
            <li>{{ forloop.counter }}: {{ item.text }}</li>
        {% endfor %}
    </ul>
{% endblock %}
